* {
  padding: 0%;
}


body {
  background: rgb(70,103,182);
  background: -moz-radial-gradient(circle, rgba(70,103,182,1) 46%, rgba(84,123,191,1) 66%, rgba(97,142,201,1) 81%, rgba(111,162,210,1) 95%, rgba(124,182,219,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(70,103,182,1) 46%, rgba(84,123,191,1) 66%, rgba(97,142,201,1) 81%, rgba(111,162,210,1) 95%, rgba(124,182,219,1) 100%);
  background: radial-gradient(circle, rgba(70,103,182,1) 46%, rgba(84,123,191,1) 66%, rgba(97,142,201,1) 81%, rgba(111,162,210,1) 95%, rgba(124,182,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4667b6",endColorstr="#7cb6db",GradientType=1);
  font-family: "Poppins";
  margin: 0;
  padding: 0;

}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0%;
  padding-right: 0%;

}

.cabecalhoPlayer {
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;

}

.topoPagina {
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sidebar {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;

}

.inputSession {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: 2rem 5rem 2rem;
  text-align: center;
  width: 800px;
  height: 543px;

}

.inputMessage {
  background-color: rgba(128, 176, 226, 0.47);
  border-radius: 2rem;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: "Poppins";
  resize: none;
  width: 100%;

}

.inputMessage:focus {
  outline: auto;
  font-size: 20px;
  align-items: center;
  color: white;
  text-align: center;

}

::placeholder {
  font-family: "Poppins";
  font-size: 20px;
  color: white;
  align-items: center;
  text-align: center;

}

.alertMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 1%;

}

.buttonSession {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-bottom: 0%;

}

.crip {
  background-color: white;
  color: #356EA9;
  font-size: 20px;
  font-weight: bold;
  border-radius: 24px;
  padding: 12px;
  width: 328px;
  height: 78px;
  cursor: pointer;
  margin: 0 15px;

}

.descrip {
  background-color: rgba(128, 176, 226, 0.5);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 24px;
  padding: 12x;
  width: 328px;
  height: 78px;
  cursor: pointer;
  margin: 0 15px;

}

.outputSession {
  background-color: white;
  border-radius: 60px;
  box-shadow: 0 24px 32px -8px #356EA9;
  display: flex;
  min-height: calc(50vh - 80px);
  justify-content: start;
  text-align: center;
  width: 414px;
  height: 600px;

}

.innerDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  text-align: left;
  width: 100%;

}

.copyBtn {
  background-color: white;
  border-radius: 30px;
  color: #0A3871;
  width: 100%;
  cursor: pointer;
  margin: center;
  padding: 12px;
  margin-bottom: 15px;

}

.rodape {
  color: white;
  font-weight: 400;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 17px;
  margin-top: 14px;
  text-align: center;

}

.cantoraBillie {
  position: absolute;
  left: 75%;
  margin-bottom: 0%;
  margin-top: 4%;
  filter: drop-shadow(0 0 1rem #356EA9);

  }